{% extends 'loginbase.html.twig' %}

{% block title %}Log in{% endblock %}







{% block body %}
<body>
<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please Login</h1>
	<div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired">
						<span class="label-input100">Email</span>
						 <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
					</div>
	<div class="wrap-input100 validate-input" data-validate="Password is required">
						<span class="label-input100">Password</span>
						 <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
					</div>
					

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
<br>
    <div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Login
							</button>
						</div>
					</div>
</form>
<br>
<a href="{{path('app_register')}}"><h5> if you don't have an account please : sign up</h5i></a>
			</div>
		</div>
</div>
</body>	
{% endblock %}
