{% extends 'dashboard.html.twig' %}

{% block body %}
    <h2>Edit User</h2>
    
    <form action="{{ path('edituser', {'id': user.id}) }}" method="post">
        {{ form_start(editForm) }}
        
        <label for="editUsername">Username:</label>
        {{ form_widget(editForm.name) }}

        <label for="editEmail">Email:</label>
        {{ form_widget(editForm.email) }}

        <button type="submit" class="btn btn-primary">Save changes</button>
        
        {{ form_end(editForm) }}
    </form>

    <a href="{{ path('app_test') }}" class="btn btn-secondary">Back to Dashboard</a>
{% endblock %}