{% extends 'dashboard.html.twig' %}
{% block body %}
<section class="dashboard gray-bg padd-0 mrg-top-50">
			<div class="container-fluid">
				<div class="row">
					
					<div class="col-lg-2 col-md-2 col-sm-3 dashboard-bg">
						<!-- /. NAV TOP  -->
							<nav class="navbar navbar-side">
							<!-- Start Logo Header Navigation -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#dashboard-menu">
									<i class="fa fa-bars"></i>
								</button>

							</div>
							<div class="collapse sidebar-collapse" id="dashboard-menu">
								<div class="profile-wrapper">
									<div class="profile-wrapper-thumb">
									      {% set userpic = app.user.picture %}
										<img src="{{ asset('uploads/' ~ userpic) }}" class="img-responsive img-circle" alt="" />
										<span class="dashboard-user-status bg-success"></span>
									</div>
									<h4>Duke Daniel</h4>
								</div>
								<ul class="nav" id="main-menu">
									
									<li>
										<a href="dashboard.html"><i class="fa fa-dashboard" aria-hidden="true"></i>Dashboard</a>
									</li>
									
									<li>
										<a href="messages.html"><i class="ti-email" aria-hidden="true"></i>Messages</a>
									</li>
									
									<li>
										<a href="javascript:void(0)"><i class="fa fa-clone" aria-hidden="true"></i>Manage Listing <span class="fa arrow"></span></a>
										<ul class="nav nav-second-level">
											
											<li>
												<a href="manage-hotels.html"><i class="fa fa-circle-o-notch" aria-hidden="true"></i>Manage Hotels</a>
											</li>
											<li>
												<a href="manage-tours.html"><i class="fa fa-circle-o-notch" aria-hidden="true"></i>Manage Tours</a>
											</li>
										   <li>
												<a href="manage-destinations.html"><i class="fa fa-circle-o-notch" aria-hidden="true"></i>Manage Destinations</a>
											</li>
											<li>
												<a href="manage-restaurants.html"><i class="fa fa-circle-o-notch" aria-hidden="true"></i>Manage Restaurants</a>
											</li>
										</ul>
									</li>
									
									<li>
										<a href="javascript:void(0)"><i class="ti-location-pin" aria-hidden="true"></i>Add Listings <span class="fa arrow"></span></a>
										<ul class="nav nav-second-level">
											
											<li>
												<a href="http://themezhub.com/"><i class="fa fa-circle-o-notch" aria-hidden="true"></i>Add Hotels</a>
											</li>
											<li>
												<a href="add-tours.html"><i class="fa fa-circle-o-notch" aria-hidden="true"></i>Add Tours</a>
											</li>
										   <li>
												<a href="add-destinations.html"><i class="fa fa-circle-o-notch" aria-hidden="true"></i>Add Destinations</a>
											</li>
											<li>
												<a href="add-restaurants.html"><i class="fa fa-circle-o-notch" aria-hidden="true"></i>Add Restaurants</a>
											</li>
										</ul>
									</li>
									
									<li>
										<a href="invoice.html"><i class="fa-print" aria-hidden="true"></i>Invoice</a>
									</li>
									
									<li>
										<a href="javascript:void(0)"><i class="ti-calendar" aria-hidden="true"></i>My Booking <span class="fa arrow"></span></a>
										<ul class="nav nav-second-level">
											<li>
												<a href="booking-2.html"><i class="fa fa-circle-o-notch" aria-hidden="true"></i>Booking 1</a>
											</li>
											<li>
												<a href="booking-2.html"><i class="fa fa-circle-o-notch" aria-hidden="true"></i>Booking 2</a>
											</li>
										</ul>
									</li>
									
									<li>
										<a href="javascript:void(0)"><i class="fa fa-cog" aria-hidden="true"></i>Settings <span class="fa arrow"></span></a>
										<ul class="nav nav-second-level">
											<li>
												<a href="basic-settings.html"><i class="fa fa-circle-o-notch" aria-hidden="true"></i>Basic Settings</a>
											</li>
											<li>
												<a href="site-settings.html"><i class="fa fa-circle-o-notch" aria-hidden="true"></i>Site Settings</a>
											</li>
										</ul>
									</li>
									
									<li class="active">
										<a href="my-profile.html"><i class="ti-user" aria-hidden="true"></i>My Profile</a>
									</li>
									
									<li>
										<a href="add-payment-methode.html"><i class="ti-credit-card" aria-hidden="true"></i>Add Payment Methode</a>
									</li>
									
									<li class="log-off">
										<a href="login.html"><i class="fa fa-power-off" aria-hidden="true"></i>Logout</a>
									</li>
								</ul>
							</div>
						</nav>
						<!-- /. NAV SIDE  -->
					</div>
					
					<div class="col-lg-10 col-md-10 col-sm-9 col-lg-push-2 col-md-push-2 col-sm-push-3">
						<div class="row mrg-0 mrg-top-20">
							<div class="tr-single-box">
								<div class="tr-single-header">
									<h3 class="dashboard-title">My Profile</h3>
								</div>
								<div class="tr-single-body">
									<div class="row">
										<!-- col-md-4 -->
										<div class="col-md-4">
											<p>
												<label>First Name</label>
												<input type="text" id="firstname" class="form-control" value="{{user.name}}" name="firstname">
											</p>

											<p>
												<label>Last Name</label>
												<input type="text" id="secondname" class="form-control" value="{{user.lastname}}" name="firstname">
											</p>

                                            <p>
												<label>Birthday</label>
												<input type="type" id="secondname" class="form-control" value="{{user.dateofbirth|date('Y-m-d')}}" name="firstname">
											</p>

											<p>
												<label>Email</label>
												<input type="text" id="useremail" class="form-control" value="{{user.email}}" name="useremail">
											</p>
											<br><br>
											<a href="{{path('app_test')}}" class="btn theme-btn full-width" >Close</a>
										    
											
										</div>
										<!-- /col-md-4 -->
										
										<!-- col-md-4 -->
										<div class="col-md-4">
											<p>
												<label>Phone</label>
												<input type="text" id="userphone" class="form-control" value="{{user.numT}}" name="userphone">
											</p>

                                            <p>
												<label>Created At</label>
												<input type="text" id="secondname" class="form-control" value="{{user.createdat|date('Y-m-d')}}" name="firstname">
											</p>
											<a href="{{path('blockuser',{'id':user.id})}}" class="btn btn-danger" >Block</a>
											<a href="{{path('deleteuser',{'id':user.id})}}" class="btn btn-danger" >Delete</a>
										</div>
										<!-- /col-md-4 -->
										
										<!-- col-md-4 -->
										<div class="col-md-4">
											<div id="profile-div" class="feature-media-upload">
												{% set userpict = user.picture %}
												<img id="profile-image" class="img-responsive" src="{{ asset('uploads/' ~ userpict) }}" alt="user image">
												<div id="upload-container">                 
													<div id="aaiu-upload-container" style="position: relative;">                 

														<form  action="{{ path('editpica', {'id': user.id}) }}" method="post" enctype="multipart/form-data">
                    <input type="file" id="editPicture{{ user.id }}" name="editPicture"  class="form-control">


    <button type="submit" class="btn theme-btn full-width">Upload Image</button>
</form>
													</div>
											   
												</div>
											</div>
										</div>
										<!-- /col-md-4 -->
										
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</section>
{% endblock %}                        